:root {
    /* Settings */
    --spacing: 15px;
    --font-size: 1.15rem;
    /* Normal Colors */
    --background-color: rgb(228, 183, 59);
    --alt-background-color:rgba(236, 95, 40, 0.973);
    --font-color: rgb(0, 0, 0);
    --alt-font-color: rgb(14, 53, 53);
    --border-color: rgb(32, 121, 87);
    /* Dark Mode Colors */
    --dark-background-color:rgb(53, 49, 80);
    --dark-alt-background-color: rgb(63, 58, 109);
    --dark-font-color:  rgb(255, 255, 255);
    --dark-alt-font-color: rgb(255, 172, 152);
    --dark-border-color:rgb(255, 142, 49);
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    text-rendering: optimizeLegibility;
}

body {
    display: flex;
    flex-direction: column;
    font-size: 70.5%;
}

header {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto 1fr;
    font-size: var(--font-size);
    padding: var(--spacing);
    border-bottom: 1px solid var(--border-color);
    color: var(--alt-font-color);
    background-color: var(--alt-background-color);
}

#company-name {
    display: flex;
    align-items: center;
    margin-left: auto;
    font-size: 60px;

}

.wrap-banner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

header a {
    color: var(--alt-font-color);
}

header nav {
    display: flex;
    align-items: center;
    margin-left: auto;
    font-size: 60px;
}

header nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    padding: 7.5px;
    margin-right: 7.5px;
}

main {
    flex: 1;
    font-size: var(--font-size);
    padding: var(--spacing);
    color: var(--font-color);
    background-color: var(--background-color);
}


section.two-cols {
    display: grid;
    grid-template-columns: 50% auto;

}
    


section.two-cols.right-column{
    grid-column: 1;
    
  }

  section.two-cols.left-column{
    grid-column: 1;
    
  }

<<<<<<< HEAD
=======
  h1.about-thing{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(175, 71, 248);
    /* text-shadow: rgb(18, 2, 31) 34px 10px 30px; */
    font-size: 130px;
    
  }
  table, th, td {
    font-size: 100px;
    border: 1px solid rgb(0, 0, 0);
    color: black;
    background-color: rgba(58, 189, 212, 0.973);
    width: 3000px;
    height: 200px;
    ;
  }
  table.center {
    margin-left:auto; 
    margin-right:auto;
  }
  div.table-div{
      padding: auto;
      margin: auto;
  }


  p.about-p{
    border: 10px solid #985DFE;
    border-style: dotted;
    font-size: 70px;
    padding-top: 70px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
    
  }

  p.manage-p{
    font-size: 80px;
    padding-top: 70px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;

  }

  p.manage-p2{
    display: block;
    border: 30px solid #985DFE;
    background-color: rgba(58, 189, 212, 0.973);
    font-size: 80px;
    padding-top: 70px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;

  }

  div{
    padding-top: 70px;
    padding-right: 70px;
    padding-bottom: 80px;
    padding-left: 80px;
  }

  div.manage-thing{
      font-size: 70px; 
  }
  div.faq-thing{
    font-size: 70px;
    text-align: center; 
}

  #contact-form{
    height:1400px;
    width: auto;
    font-size:70pt;
    margin: 100px;
    
  }

  div.card{
    display: flexbox;
    background-color: rgb(199, 144, 255);
    margin: 50px;
    font-size: 10px;
 
    /* padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px; */
  }

  .card {
    display:flexbox;
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    /* margin: 50px; */
    transition: 0.3s;
    font-size: 50px;
   
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 20px 16px 0 rgba(67, 255, 123, 0.981);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 0.5px 0.5px 0.5px 0.5px;
  }
  
  


>>>>>>> main
h2 {
    display: block;
    font-size: 50px;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
  
}

img {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}

p {
    display: flex;
    font-size: 40px;
    word-wrap: break-word;
    width: auto;
    height: auto;
    
}



<<<<<<< HEAD
=======
div.box-thing{
    font-size: 30px;
    text-align: center;
}

form{
    display: block;
    margin-block-end: 1em;
    width: 300px;
    padding: 15px;
    margin:  0 auto;
    background-color: rgb(44, 177, 132);

    
}



label {
    padding-bottom: 85px;
    padding-left: 20px;
    padding-top: 85px;
    padding-right: 20px;
    display: block;


}

>>>>>>> main
footer {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto 1fr auto;
    font-size: var(--font-size);
    border-top: 1px solid var(--border-color);
    padding: var(--spacing);
    color: var(--alt-font-color);
    background-color: var(--alt-background-color);
}

footer a {
    color: var(--alt-font-color);
}

footer #legal {
    font-size: 30px;
    grid-row: 1;
    grid-column: 1;
    display: flex;
    align-items: center;
}

footer nav {
    grid-row: 1;
    grid-column: 2;
    display: flex;
    align-items: center;
    margin-left: auto;
}

footer nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

footer nav ul li {
    font-size: 30px;
    display: inline-block;
    padding: 7.5px;
    margin-right: 7.5px;
}

footer #dark-mode {
    grid-row: 1;
    grid-column: 3;
}

footer #dark-mode .icon {
    position: relative;
    display: inline-block;
    z-index: 100;
    pointer-events: none;
}

footer #dark-mode .icon svg path {
    fill: var(--background-color);
}

footer #dark-mode #sun-icon svg {
    transform: scale(0.9);
    position: absolute;
    top: -32px;
    left: 15px;
}

footer #dark-mode #moon-icon svg {
    transform: scale(0.85);
    position: absolute;
    top: -32px;
    right: 15px;
}

footer #dark-mode #tgl-wrapper {
    display: inline-block;
}

footer #dark-mode #tgl-wrapper .tgl {
    display: none;
}

footer #dark-mode #tgl-wrapper .tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl + .tgl-btn {
    box-sizing: border-box;
}

footer #dark-mode #tgl-wrapper .tgl::-moz-selection, .tgl:after::-moz-selection, .tgl:before::-moz-selection, .tgl *::-moz-selection, .tgl *:after::-moz-selection, .tgl *:before::-moz-selection, .tgl + .tgl-btn::-moz-selection {
    background: none;
}

footer #dark-mode #tgl-wrapper .tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl + .tgl-btn::selection {
    background: none;
}

footer #dark-mode #tgl-wrapper .tgl + .tgl-btn {
    outline: 0;
    display: block;
    width: 80px;
    height: 40px;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    border-radius: 30px;
    padding: 3px;
    transition: all 0.4s ease;
}

footer #dark-mode #tgl-wrapper .tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
    position: relative;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
}

footer #dark-mode #tgl-wrapper .tgl + .tgl-btn:after {
    left: 0;
    border-radius: 50%;
    background-color: var(--border-color);
    transition: all 0.2s ease;
}

footer #dark-mode #tgl-wrapper .tgl + .tgl-btn:before {
    display: none;
    transition: all 0.2s ease;
}

footer #dark-mode #tgl-wrapper .tgl:checked + .tgl-btn:after {
    left: 50%;
    transition: all 0.2s ease;
}

/*===========================================*\
  APPLY DARK MODE COLORS WHEN DARK MODE IS ON 
\*===========================================*/

body.dark-mode header {
    border-bottom: 1px solid var(--dark-border-color);
    color: var(--dark-alt-font-color);
    background-color: var(--dark-alt-background-color);
}

body.dark-mode header a {
    color: var(--dark-alt-font-color);
}

body.dark-mode main {
    color: var(--dark-font-color);
    background-color: var(--dark-background-color);
}

body.dark-mode footer {
    border-top: 1px solid var(--dark-border-color);
    color: var(--dark-alt-font-color);
    background-color: var(--dark-alt-background-color);
}

body.dark-mode footer a {
    color: var(--dark-alt-font-color);
}

body.dark-mode footer #dark-mode .icon svg path {
    fill: var(--dark-background-color);
}

body.dark-mode footer #dark-mode #tgl-wrapper .tgl + .tgl-btn {
    background-color: var(--dark-background-color);
    border: 1px solid var(--dark-border-color);
}

body.dark-mode footer #dark-mode #tgl-wrapper .tgl + .tgl-btn:after {
    background-color: var(--dark-border-color);
}